  

:host ::ng-deep .custom-home-autocomplete p-autocomplete .p-autocomplete.p-component.p-inputwrapper {
    width: 100%;
    input.p-element.p-autocomplete-input.p-inputtext{
        width: 100%;
        height: 3rem;
    }
  }